dt{
	display: inline-block;
	padding: 0;
	margin: 0 2px 0 0;
	font-weight: bold;
}
dd{
	display: inline-block;
	padding:0;
	margin: 0 30px 10px 0;
}
.ability dt{
	display: block;
}
.edu dt{
	display: block;
}
.project dt{
	display: block;
}

.ability dd{
	
}
.edu dd{
	display: block;
}
.project dd{
	display: block;
}