
h2{
	font-size: 14pt;
	width: 90px;
}

.left{
	 color: white;
	 background-color: #858585;
	 width: 940px;
	 height: 60px;
	 line-height: 60px;
	 padding-left: 20px;
}
.right{
	width: 960px;
}


/*.baseInfo dt,.tel dt{
	display: inline-block;
	font-weight: bold;
	padding: 0;
	margin: 0 6px 0 0;
}
.baseInfo dd,.tel dd{
	padding: 0;
	margin: 0 36px 0 0;
	display: inline-block;
}*/

dt{
	display: inline-block;
	font-weight: bold;
	padding: 0;
	margin: 0 6px 0 0;
}
dd{
	padding: 0;
	margin: 0 36px 0 0;
	display: inline-block;
}

h2{
	float: left;
	width: 120px;
	height: 99px;
	line-height: 99px;
	text-align: center;
	background-color: #D6D6D6;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #FFFFFF;
}
.baseInfo,.tel,.ability,.edu,.project{
	float: left;
	clear: both;
	width: 959px;
	height: 99px;
	border-bottom: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
}
dl{
	/*padding-top: 6px;*/

}
/*.ability dt,.edu dt,.project dt{
	clear: both;
}
.ability dd,.edu dd,.project dd{
	clear: both;
}
*/
.ability dl,.edu dl,.project dl{
}
